name: Sync to Hugging Face hub

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Pull latest changes from Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote add hf-space https://MehtaKartik:$HF_TOKEN@huggingface.co/spaces/MehtaKartik/Search_engine_llm
          git fetch hf-space main
          git merge hf-space/main

      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git push https://MehtaKartik:$HF_TOKEN@huggingface.co/spaces/MehtaKartik/Search_engine_llm main
